<%- include('includes/head.ejs',{title: '500 error'})%>

</head>

<body>
    <%- include('includes/header.ejs') %>
    </header>
    <main>
        <h1> Hey there, you are not authorized </h1>
        <p> You are not allowed to see the next content, please go back !</p> 

    </main>

</body>
</html>