<%- include('includes/head.ejs',{title: '500 error'})%>

</head>

<body>
    <%- include('includes/header.ejs') %>
    </header>
    <main>
        <h1>Sorry, 400 error </h1>
        We could not find the page that you are looking
    </main>

</body>
</html>