<%- include('includes/head.ejs',{title: '500 error'})%>

</head>

<body>
    <%- include('includes/header.ejs') %>
    </header>
    <main>
        <h1>Sorry, 500 error </h1>
        We are working on solving the issue ASAP. We are sorry.
    </main>

</body>
</html>