<%- include('../../shared/includes/head.ejs',{title: 'Failure!'})%>

</head>

<body>
    <%- include('../../shared/includes/header.ejs')%>
    </header>
    <main>
      <h1> Oops, something went wrong</h1>
      <p> Payment could not be secured, please try again!</p>
    </main>
</body>
</html>